body {
  font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
  line-height: 22px;
  background-image: url(./assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #dcdcdc;
  color: #04081d;
}

.side-bar {
  height: calc(100vh - 18px);
}

.inset-center {
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
